* {
    margin: 0;
    padding: 0;
    transition: .3s
}

em,
i {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

input,
select {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px
}

input:focus,
select:focus {
    outline-color: #007bff2d
}

button {
    cursor: pointer;
    background-color: #6495ED;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #4169E1;
    transform: translateY(-2px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.cancel {
    background-color: #64abed82
}

.cancel:hover {
    background-color: #6488ed82
}

a {
    color: #D8BFD8;
    text-decoration: none
}

a:hover {
    color: #008cff
}

button,
input {
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, \\5B8B\4F53, sans-serif
}

body {
    -webkit-font-smoothing: antialiased;
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, \\5B8B\4F53, sans-serif;
    color: #666
}