body {
    background-color: #f4f4f4
}

h2 {
    text-align: center;
    color: #71bdd8;
    margin-top: 30px;
    margin-bottom: 10px
}

form {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
}

a {
    color: #008cff
}

button {
    width: 100%;
    padding: 10px 20px
}

select,
.agree {
    margin-bottom: 20px
}

.msg {
    color: #ff4d4f;
    height: 20px;
    font-size: 12px
}

.phoneAll {
    display: flex
}

.phoneAll select {
    margin-bottom: 0;
    width: 126px
}

.phoneAll input{
    width: 116px
}

.code-wrapper {
    position: relative
}

.code-wrapper input {
    width: 242px
}

.code {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 12px
}